{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container pt-5">
    <div class="row">
        <!-- Empty row for spacing -->
    </div>
</div>
<div class="container mb-7">
    <!-- Hero section -->
    <div class="row">
        <div class="col-12 col-lg-5 order-lg-first mt-2 mb-4 py-4">
            <h1 class="display-4">Scented <strong class="underline--magical">candles</strong> with the <strong>stories</strong> of your life buring strong!</h1>
            <p class="my-4">Why so serious? Life can be dull and boring at times, so we want to make it more
                <strong>LIT!</strong><br>
                Those are <strong>OUR</strong> everyday stories with a spark of humour - let's put some light on
                them.<br>
                Light a candle and enjoy the scents of 21st century lifestyle.</p>
            <p class="my-4"><a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0 py-2 theme-btn">Check
                    the store</a></p>
        </div>
        <div class="col-12 col-lg-7 order-first">
            <img class="img-fluid" src="{{ MEDIA_URL }}hero-image.png" alt="Story Sparks Jar Candles Hero Image"
                width="700" height="500">
        </div>
    </div>
</div>

<div class="row" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;">
    <!-- Products tiles -->
    <!-- First -->
    <div class="col-12 col-md-4 text-center pt-5 px-auto tiles" style="background: #b4b8ab;">
        <h2>Our Jars</h2>
        <a href="{% url 'products' %}?category=Jar" class="btn btn-outline-dark rounded-0 py-2 m-3 theme-btn">Shop
            Now</a>
        <div class="home-product">
            <img width="300" class="d-none d-lg-inline" src="{{ MEDIA_URL }}basic.png" alt="Basic Candle jar">
            <img width="270" class="d-lg-none" src="{{ MEDIA_URL }}basic.png" alt="Basic Candle jar">
        </div>
    </div>
    <!-- Second -->
    <div class="col-12 col-md-4 text-center pt-5 px-auto tiles" style="background: #f4ceb5;">
        <h2>Our Tins</h2>
        <a href="{% url 'products' %}?category=Tin" class="btn btn-outline-dark rounded-0 py-2 m-3 theme-btn">Shop
            Now</a>
        <div class="home-product">
            <img width="300" class="d-none d-lg-inline" src="{{ MEDIA_URL }}happy-hour-tin.png"
                alt="Happy Hour candle tin">
            <img width="270" class="d-lg-none" src="{{ MEDIA_URL }}happy-hour-tin.png" alt="Happy Hour candle tin">
        </div>
    </div>
    <!-- Third -->
    <div class="col-12 col-md-4 text-center pt-5 px-auto tiles" style="background: #c8d1ca;">
        <h2>Bundles</h2>
        <a href="{% url 'products' %}?category=Bundles" class="btn btn-outline-dark rounded-0 py-2 m-3 theme-btn">Shop
            Now</a>
        <div class="home-product">
            <img width="300" class="d-none d-lg-inline" src="{{ MEDIA_URL }}bundle.png"
                alt="Bundle of three candle jars">
            <img width="270" class="d-lg-none" src="{{ MEDIA_URL }}bundle.png" alt="Bundle of three candle jars">
        </div>
    </div>
</div>

<!-- Testimonials section from https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=testimonial-carousel-with-quote-icon -->
<!-- Carousel wrapper -->
<div class="container-xl mb-5">
    <div class="row">
        <div class="col-sm-12">
            <h2>What others are saying</h2>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="media">
                                    <img src="{{ MEDIA_URL }}vogue.png" class="mr-3" alt="Vogue Logo">
                                    <div class="media-body">
                                        <div class="testimonial">
                                            <p>Hand poured candles with a lot to say! They fill the romm with fragnance,
                                                and start a real conversation!</p>
                                            <p class="overview"><b>Vogue Europe</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="media">
                                    <img src="{{ MEDIA_URL }}rte.png" class="mr-3" alt="RTE TV Logo">
                                    <div class="media-body">
                                        <div class="testimonial">
                                            <p>These funny candles smell amazing but also have the wittiest labels that
                                                reflect contemporary mass culture.</p>
                                            <p class="overview"><b>RTE Television</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="media">
                                    <img src="{{ MEDIA_URL }}forbes.png" class="mr-3" alt="Forbes Logo">
                                    <div class="media-body">
                                        <div class="testimonial">
                                            <p>Irresistable descriptions, which reflect modern lifestyle. Great business
                                                idea!</p>
                                            <p class="overview"><b>Forbes</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="media">
                                    <img src="{{ MEDIA_URL }}todayfm.png" class="mr-3" alt="TodayFM Logo">
                                    <div class="media-body">
                                        <div class="testimonial">
                                            <p>Those candles only prove that staying at home and lighting up a
                                                nice candle can be more fun than going out with you friends.</p>
                                            <p class="overview"><b>Today FM Radio</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="media">
                                    <img src="{{ MEDIA_URL }}homeandlifestyle.png" class="mr-3"
                                        alt="Home and Lifestyle Magazine Logo">
                                    <div class="media-body">
                                        <div class="testimonial">
                                            <p>Candle Sparks products are a modern take on poetry!</p>
                                            <p class="overview"><b>Home and Lifestyle Magazine</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="media">
                                    <img src="{{ MEDIA_URL }}elle.png" class="mr-3" alt="Elle Magazine Logo">
                                    <div class="media-body">
                                        <div class="testimonial">
                                            <p>Candle Sparks candles are a BRILLIANT gift idea for all Millenials!
                                                Scents combos are absolutely amazing.</p>
                                            <p class="overview"><b>ELLE Magazine</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End testimonials -->

<!-- More about product/ us reference -->

<div class="row align-items-center py-7"
    style="background: #f5dec9; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
    <div class="col-12 col-md-6 p-5 order-lg-first">
        <h2 class="display-5">Designing <strong>stories</strong> with a <strong>spark</strong></h2>
        <p class="my-4">Every candle we make is an invitation to revisit some memories.</p>
        <p class="my-4">We take the inspiration from everyday tales or experiences we share. Silly comments on our
            reality meet with carefully selected scents to give you one of a kind <strong>HOT</strong> candle. Enjoy!
        </p>
        <p class="my-4"><a href="{% url 'creators' %}" class="btn btn-outline-dark rounded-0 py-2 theme-btn mt-2">Learn
                more about us</a></p>
    </div>
    <div class="col-12 col-md-6 order-first d-flex justify-content-center">
        <img src="{{ MEDIA_URL }}tins-collage.png" alt="Tins candles collage" class="img-fluid" width="600">
    </div>
</div>


<!-- Instagram -->
<div class="col text-center py-7 pt-5 pb-3"
    style="background: #ead1a0; text-align: center; box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;">
    <h1 style="font-weight: bold; font-size: xx-large;">@storysparksco</h1>
    <p><a href="https://www.instagram.com/storysparksco" rel="external nofollow noopener" target="_blank"
            class="h4 effect-shine" style="color: #212529;">FOLLOW US ON INSTAGRAM</a></p>
</div>
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>

{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% endblock %}