{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container pt-5">
    <div class="row">
        <!-- Empty header for spacing -->
    </div>
</div>
<div class="container pt-5">
    <div class="row">
        <!-- Empty header for spacing -->
    </div>
</div>
<div class="container mb-7">
    <div class="row">
        <div class="col-12 col-lg-5 order-lg-first mt-2 mb-4 py-4">
            <h1 class="display-4">Scented candles with stories of your life buring strong!</h1>
            <p class="my-4">Why so serious? Life can be dull and boring at times, so we want to make it more LIT!<br>
                Those are OUR everyday stories - let's put some light on them. Light a candle and enjoy the scents of
                21st century lifestyle.</p>
            <p class="my-4"><a href="" class="btn btn-outline-dark rounded-0 py-2 theme-btn">Check the store</a></p>
        </div>
        <div class="col-12 col-lg-7 order-first">
            <img class="img-fluid" src="{% static 'candles-hero.png' %}" alt="Story Sparks Co." width="800"
                height="500">
        </div>
    </div>
</div>
{% endblock %}