{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <!-- Page header -->
                <h1 class="display-5 fw-bold pb-3">
                    {% if object %}Update{% else %}Create{% endif %} Creator
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container pt-4 mb-5">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <!-- Creator form -->
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex align-items-start justify-content-between">
                        <a href="{% url 'creators' %}" class="btn btn-black rounded-0"><i class="icon fa fa-times-circle" aria-hidden="true"></i> Cancel</a>
                        <button id="submit-button" class="btn btn-success rounded-0">{% if object %}Update{% else %}Create{% endif %} Creator <i class="icon fa fa-check" aria-hidden="true"></i></button>    
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}