{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h1 class="display-5 fw-bold pb-3 text-center">Hi, nice to meet you!</h1>
                <h4 class="text-center">We love candles & we know you do too!</h4>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container pt-4">
        <!-- If user is a superuser, show button to add a new creator -->
        <div class="row">
            <div class="col-12 py-4">
                {% if request.user.is_superuser %}
                    <p>Add a new creator:<br>
                    <a href="{% url 'add_creator' %}" class="btn-sm btn-outline-black rounded-0 me-2">Add new creator</a></p>
                {% endif %}
            </div>
        </div>
        <!-- For each creator in the database -->
        {% for creator in creators %}
            <div class="row py-5">
                <div class="col-12 col-lg-7 order-first greyscale">
                    <!-- Display an image if they have one... -->
                    {% if creator.photo %}
                        <img class="img-fluid" src="{{ creator.photo.url }}" alt="{{ creator.name }}" width="700" height="450">
                    {% else %}
                        <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ creator.name }}" width="700" height="450">
                    {% endif %}
                </div>
                <div class="col-12 col-lg-5 order-lg-first mt-2 mb-4 py-4">
                    <!-- Creator name + job -->
                    <h2 style="margin: 0px!important; padding-bottom: 1em;">{{ creator.name }}, <span class="text-secondary">{{ creator.job }}</span></h2>
                    <!-- If user is a superuser, show buttons to update/delete this creator -->
                    {{ creator.details|linebreaks }}
                    {% if request.user.is_superuser %}
                        <div>
                            <a href="{% url 'update_creator' creator.id %}" class="btn btn-sm btn-outline-black rounded-0 me-2">Update creator</a>
                            <button type="button" class="btn btn-sm btn-danger rounded-0 theme-btn-sm" 
                                data-bs-toggle="modal" 
                                data-bs-target="#deleteModal" 
                                data-bs-object="{{ creator }}" 
                                data-bs-url="{% url 'delete_creator' creator.id %}">
                                Delete creator
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}