html {
	height: 100%;
}

body {
	background-color: #edede4 !important;
	background-size: cover;
	height: calc(100vh - 164px);
}

/* from Bulma */
.icon {
	align-items: center;
	display: inline-flex;
	justify-content: center;
	height: 1.5rem;
	width: 1.5rem;
}

.main-logo-link {
	width: fit-content;
}

.shop-now-button {
	background: black;
	color: white;
	min-width: 260px;
}

.btn-black {
	background: black;
	color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
	background: #222;
	color: white;
}

.text-black {
	color: #000 !important;
}

.border-black {
	border: 1px solid black !important;
}

.display-4 {
	font-size: revert !important;
}

.h4,
h4 {
	font-size: larger !important;
}

.row {

	margin-right: 0px !important;
	margin-left: 0px !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: -1;
}

hr {
	border-top: none !important;
}

.w-50 {
	width: 75%;
}

.dropdown-menu {
	background-color: white!important;
}

.social-icons {
	color: black;
}

.social-icons:hover {
	color: #edede4;
}

#mc_embed_signup .asterisk {
	color: #000!important;
}

/* -------------------------------- Shipping and returns card styling */

.card-header {
	background-color: rgb(200 209 202);
}

.card .btn.focus, .btn:focus {
	box-shadow: 0 0 0 0.2rem rgb(183 185 175);
}

.card {
	border: 1px solid #7b7d74;
}

/* -------------------------------- Effect-shine for Instagram reference from https://www.graphicpie.com/css-text-hover-effects/*/

a.effect-shine:hover {
	-webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;
}

@-webkit-keyframes shine {
	from {
		-webkit-mask-position: 150%;
	}

	to {
		-webkit-mask-position: -50%;
	}
}

/* -------------------------------- Hover effect for the order history list from https://codepen.io/joeashworth/pen/PXvRzb */

.orderhist {
	background: white;
	border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
	color: white;
	box-shadow: 20px 20px rgba(0,0,0,.15);
	transition: all .4s ease;
}

.orderhist:hover {
	border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
	box-shadow: 10px 10px rgba(0,0,0,.25);
}

/* -------------------------------- Tiles on the homepae hover effect from https://www.joshwcomeau.com/animation/css-transitions/ */

.tiles {
	transition: transform 250ms;
}

.tiles:hover {
	transform: translateY(-10px);
}

/* -------------------------------- Navbar hover effect from https://codepen.io/maheshambure21/pen/QwXaRw */
div ul li a,
div ul li a:after,
div ul li a:before {
	transition: all .5s;
}

div ul li a:hover {
	color: #555;
}

div.stroke ul li a,
div.fill ul li a {
	position: relative;
}

div.stroke ul li a:after,
div.fill ul li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #aaa;
	height: 1px;
}

div.stroke ul li a:hover:after {
	width: 100%;
}

/* -------------------------------- Product card styling */

.card-body {
	text-align: center;
}

.card-footer {
	text-align: center;
	background-color: transparent !important;
}

.card {
	background: transparent !important;
}

.btn-outline-black {
	background: white;
	color: black !important;
	/* use important to override link colors for <a> elements */
	border: 1px solid black;
}

/* -------------------------------- Back to the top button styling */

.btt-button {
	height: 42px;
	width: 42px;
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.btt-link,
.update-link,
.remove-item {
	cursor: pointer;
}

/* ------------------------------- bootstrap toasts */

.message-container {
	position: fixed;
	top: 120px;
	right: 15px;
	z-index: 99999999999;
}

.custom-toast {
	overflow: visible;
}

.toast-capper {
	height: 2px;
}

/* -------------------------------- Bag elements */
.table td,
.table th {
	vertical-align: baseline !important;
}

.text-info {
	color: #e87362 !important
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 10px solid black;
	position: absolute;
	top: -10px;
	right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
	border-bottom-color: #007bff !important;
}

.arrow-secondary {
	border-bottom-color: #6c757d !important;
}

.arrow-success {
	border-bottom-color: #28a745 !important;
}

.arrow-danger {
	border-bottom-color: #dc3545 !important;
}

.arrow-warning {
	border-bottom-color: #ffc107 !important;
}

.arrow-info {
	border-bottom-color: #17a2b8 !important;
}

.arrow-light {
	border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
	border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
	height: 100px;
	overflow-x: hidden;
	overflow-y: auto;
}

/* -------------------------------- Grey scale for creators section from https://thebrandsmen.com/css-image-hover-effects/ */

.greyscale img {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-webkit-transition: all 1s ease;
}
.greyscale:hover img {
	filter: grayscale(0%);
	filter: gray;
	-webkit-filter: grayscale(0%);
	filter: none;
	transition: 1s ease;
}

/* -------------------------------- Carousel styling from https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=testimonial-carousel-with-quote-icon*/

h2 {
	color: #000;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 70px;
}

h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	left: 0;
	right: 0;
	bottom: -20px;
}

.carousel .carousel-item {
	color: #000;
	overflow: hidden;
	min-height: 120px;
	font-size: 13px;
}

.carousel .media img {
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 50%;
}

.carousel .testimonial {
	padding: 0 15px 0 60px;
	position: relative;
}

.carousel .testimonial::before {
	content: "\201C";
	color: #d1a658;
	font-weight: bold;
	font-size: 68px;
	line-height: 54px;
	position: absolute;
	left: 15px;
	top: 0;
}

.carousel .overview b {
	text-transform: uppercase;
	color: #2d2d2d;
}

.carousel .carousel-indicators {
	bottom: -60px;
}

.carousel-indicators li,
.carousel-indicators li.active {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 1px 3px;
	box-sizing: border-box;
}

.carousel-indicators li {
	background: #b7b9ae;
	border: 4px solid #fff;
}

.carousel-indicators li.active {
	color: #fff;
	background: #d1a658;
	border: 5px double;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
	margin-top: 1.5rem;
	/* mt-4 */
	color: #6c757d;
	/* text-secondary */
}

.allauth-form-inner-content input {
	border-color: #000;
	border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
	display: none;
}

.allauth-form-inner-content input::placeholder {
	color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
	font-weight: 400;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #000;
	border: 1px solid #000;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0;

	/* standard bootstrap btn transitions */
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
	color: #fff;
	background-color: #222;
	border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8;
	/* text-info */
}

/* Product Form */

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	opacity: 0;
	cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
	border-radius: 0;
	border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #dc3545;
	border-color: #dc3545;
	border-radius: 0;
}

/* -------------------------------- Mailchimp subscription form */
#mc_embed_signup .helper_text {
	background-color: transparent!important;
}

#mc_embed_signup form {
	margin: 0px!important;
}

#mc-embedded-subscribe {
	margin: 0px!important;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
	background-color: transparent!important;
}

#mc_embed_signup .foot {
	grid-template-columns: max-content!important;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
	.container {
		max-width: 80%;
	}
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
	.fixed-top-desktop-only {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
	}

	.header-container {
		padding-top: 30px;
	}
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
	.header-container {
		padding-top: 30px;
	}

	body {
		height: calc(100vh - 116px);
	}

	.display-4.logo-font.text-black {
		font-size: 2rem;
	}

	.nav-link {
		padding: 0.15rem;
	}

	.nav-link i.fa-lg {
		font-size: 1rem;
	}

	.navbar-toggler {
		padding: .6rem .6rem;
		font-size: 1rem;
	}

	#delivery-banner h4 {
		font-size: .9rem;
	}

	.btn.btn-outline-black.rounded-0,
	.btn.btn-black.rounded-0 {
		padding: .375rem .375rem;
	}

	.btn.btn-outline-black.rounded-0.btn-lg,
	.btn.btn-black.rounded-0.btn-lg {
		padding: .375rem .375rem;
		font-size: .75rem;
	}

	.increment-qty,
	.decrement-qty {
		padding: .25rem .5rem !important;
	}
}