{% load static %}
<footer class="container-fluid" style="background: #f4ceb5; box-shadow:rgb(100 100 111 / 20%) 0px 7px 29px 0px;;">
    <div class="row">
        <!-- Footer navigation -->
        <div class="col-12 col-md-4 p-5">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="{% url 'products' %}" class="nav-link ps-0 text-dark text-uppercase">All Products</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link ps-0  text-dark text-uppercase">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link ps-0 text-dark text-uppercase">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.privacypolicygenerator.info/live.php?token=q2PDHblJ6mFx3ADo11HmdKsduKHVEYFf" target="_blank" class="nav-link ps-0 text-dark text-uppercase">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link ps-0 text-dark text-uppercase">Terms & Conditions</a>
                </li>
            </ul>
        </div>
        <!-- Organisation logos -->
        <div class="col-12 col-md-4 p-5 text-center">
            <a href="https://www.ecolabelindex.com/ecolabel/bdih-certified-natural-cosmetics-seal" rel="external nofollow noopener" target="_blank">
                <img src="{{ MEDIA_URL }}bdhi.png" alt="BDHI logo" class="m-1" width="150" height="150">
            </a>
            <a href="https://www.peta.org/" rel="external nofollow noopener" target="_blank">
                <img src="{{ MEDIA_URL }}peta.png" alt="PETA logo" class="m-1" width="150" height="100">
            </a>
            <a href="https://www.planetaid.org/blog/what-is-the-zero-waste-movement" rel="external nofollow noopener" target="_blank">
                <img src="{{ MEDIA_URL }}zero-waste.png" alt="Zero Waste Movement logo" class="m-1" width="150" height="150">
            </a>
            <a href="https://www.nature.org/en-us/" rel="external nofollow noopener" target="_blank">
                <img src="{{ MEDIA_URL }}logo-natrue-EN.png" alt="Nature.org logo" class="m-1" width="150" height="80">
            </a>
        </div>
        <!-- Keep in touch section -->
        <div class="col-12 col-md-4 p-5 order-first">
            <div>
                <h3 class="mb-4">Let's keep in touch!</h3>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="https://facebook.com" rel="external nofollow noopener" target="_blank"
                            aria-label="Facebook link" title="Facebook link"><i
                            class="fa fa-facebook-official fa-2x rounded-circle p-2" style="color: black;" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://pinterest.com" rel="external nofollow noopener" target="_blank"
                            aria-label="Pinterest link" title="Pinterest link"><i
                            class="fa fa-pinterest fa-2x rounded-circle p-2" style="color: black;" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://instagram.com" rel="external nofollow noopener" target="_blank"
                            aria-label="Instagram link" title="Instagram link"><i
                            class="fa fa-instagram fa-2x rounded-circle p-2" style="color: black;" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div>
                <span class="small pt-2">Sign up to our newsletter:</span>
                <!-- Subscribe modal button-->
                <button type="button" class="btn btn-black border border-black rounded-0 d-block mt-2"
                    data-bs-toggle="modal" data-bs-target="#subscribeModal">
                    Click to subscribe
                </button>
            </div>
        </div>
    </div>
    <!-- Copyright section -->
    <div class="row">
        <div class="col-12 p-5 text-center">
            <p>Copyright &copy;Story Sparks Co. {% now "Y" %}</p>
            <p class="small">NOTE: Code Institute Project 5 - created for educational purposes. <br> No orders will be processed.</p>
        </div>
    </div>
</footer>