{% load static %}
<footer class="container-fluid" style="background: #f4ceb5; box-shadow:rgb(100 100 111 / 20%) 0px 7px 29px 0px;;">
    <div class="row">
        <!-- Footer navigation -->
        <div class="col-12 col-md-4 p-5 text-center">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="{% url 'products' %}" class="nav-link ps-0 text-dark text-uppercase">All Products</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'creators' %}" class="nav-link ps-0  text-dark text-uppercase">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'contact' %}" class="nav-link ps-0 text-dark text-uppercase">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'shipping-returns' %}"
                        target="_blank" class="nav-link ps-0 text-dark text-uppercase">Shipping and Returns</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.privacypolicygenerator.info/live.php?token=q2PDHblJ6mFx3ADo11HmdKsduKHVEYFf"
                        target="_blank" class="nav-link ps-0 text-dark text-uppercase">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.termsandconditionsgenerator.com/live.php?token=HgmrR4bFa8tGcJFQB8kyczq5CKjY2GzE"
                        target="_blank" class="nav-link ps-0 text-dark text-uppercase">Terms & Conditions</a>
                </li>
            </ul>
        </div>
        <!-- Organisation logos -->
        <div class="col-12 col-md-4 p-5 text-center">
            <a href="https://www.ecolabelindex.com/ecolabel/bdih-certified-natural-cosmetics-seal"
                rel="external nofollow noopener" target="_blank">
                <img src="{{ MEDIA_URL }}bdhi.png" alt="BDHI logo" class="m-1" width="120" height="120">
            </a>
            <a href="https://www.peta.org/" rel="external nofollow noopener" target="_blank">
                <img src="{{ MEDIA_URL }}peta.png" alt="PETA logo" class="m-1" width="150" height="100">
            </a>
            <a href="https://www.planetaid.org/blog/what-is-the-zero-waste-movement" rel="external nofollow noopener"
                target="_blank">
                <img src="{{ MEDIA_URL }}zero-waste.png" alt="Zero Waste Movement logo" class="m-1" width="150"
                    height="150">
            </a>
            <a href="https://www.nature.org/en-us/" rel="external nofollow noopener" target="_blank">
                <img src="{{ MEDIA_URL }}logo-natrue-EN.png" alt="Nature.org logo" class="m-1" width="150" height="70">
            </a>
        </div>
        <!-- Keep in touch section -->
        <div class="col-12 col-md-4 p-5 order-first">
            <div>
                <h3 class="mb-4">Let's keep in touch!</h3>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/storysparksco" rel="external nofollow noopener"
                            target="_blank" aria-label="Facebook link to Story Sparks page" title="Facebook link"><i
                                class="fa fa-facebook-official fa-2x rounded-circle p-2 social-icons"
                                aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://pinterest.com" rel="external nofollow noopener" target="_blank"
                            aria-label="Pinterest link" title="Pinterest link"><i
                                class="fa fa-pinterest fa-2x rounded-circle p-2 social-icons"
                                aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://instagram.com" rel="external nofollow noopener" target="_blank"
                            aria-label="Instagram link" title="Instagram link"><i
                                class="fa fa-instagram fa-2x rounded-circle p-2 social-icons"
                                aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="mt-4">
                <h3 class="mt-4 mb-2">Sign up to our newsletter:</h3>
                <!-- Mailchimp Signup Form -->
                <div id="mc_embed_signup">
                    <form
                        action="https://gmail.us8.list-manage.com/subscribe/post?u=13455e80390f96ba41fe226ac&amp;id=98f09c1040&amp;f_id=009a7be0f0"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                        target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                                </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                                    required>
                                <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                    name="b_13455e80390f96ba41fe226ac_98f09c1040" tabindex="-1" value=""></div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                        class="btn btn-black rounded-0 text-uppercase">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright section -->
    <div class="row">
        <div class="col-12 p-2 text-center">
            <p>Copyright &copy;Story Sparks Co. {% now "Y" %}</p>
            <p class="small">NOTE: Code Institute Project 5 - created for educational purposes. <br> No orders will be
                processed.</p>
        </div>
    </div>
</footer>
