<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item mx-3">
            <!-- Home -->
            <a href="{% url 'home' %}" class="logo-font font-weight-bold nav-link text-black mr-5">Home</a>
        </li>
        
        <li class="nav-item dropdown">
            <!-- Full Range dropdown -->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Candle Types
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="" class="dropdown-item">Candle Jars</a>
                <a href="" class="dropdown-item">Candle Tins</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <!-- Scents dropdown -->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="scents-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Scents
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="scents-link">
                <a href="" class="dropdown-item">Sweet and fruity</a>
                <a href="" class="dropdown-item">Warm and deep</a>
                <a href="" class="dropdown-item">Floral</a>
                <a href="" class="dropdown-item">Fresh</a>
                <a href="" class="dropdown-item">Autumn spices</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About & Contact
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">About Us</a>
                <a href="" class="dropdown-item">Contact</a>
                <a href="" class="dropdown-item">Subscribe</a>
            </div>
        </li>
    </ul>
</div>