<div class="collapse navbar-collapse stroke" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <!-- Full Range dropdown -->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Candle Types
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?category=Jar" class="dropdown-item">Candle Jar</a>
                <a href="{% url 'products' %}?category=Tin" class="dropdown-item">Candle Tin</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <!-- Scents dropdown -->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="scents-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Scents
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="scents-link">
                <a href="{% url 'products' %}?scent=Sweet" class="dropdown-item">Sweet and fruity</a>
                <a href="{% url 'products' %}?scent=Warm" class="dropdown-item">Warm and deep</a>
                <a href="{% url 'products' %}?scent=Floral" class="dropdown-item">Floral</a>
                <a href="{% url 'products' %}?scent=Fresh" class="dropdown-item">Fresh</a>
                <a href="{% url 'products' %}?scent=Spices" class="dropdown-item">Autumn spices</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About & Contact
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'creators' %}" class="dropdown-item">About Us</a>
                <a href="{% url 'contact' %}" class="dropdown-item">Contact</a>
                <a href="{% url 'shipping-returns' %}" class="dropdown-item">Shipping and Returns</a>
            </div>
        </li>
    </ul>
</div>